<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6861b10f53.js" crossorigin="anonymous"></script>
    <title>Home</title>

    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
    {% endblock %}

</head>
<body>
<!-- Menu -->
    <nav class="bg-gray-800">
        <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
                <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="hidden sm:block sm:ml-6">
                        <div class="flex space-x-4">
                            <a href="{{ path('app_home') }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                            <a href="{{ path('about_us') }}" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">About Us</a>
                            <a href="{{ path('app_wish') }}" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium">Idea List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>

<!-- Content -->
    <div class="h-24 min-h-0 hover:min-h-full">
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
    </div>

<!-- Footer -->
    <footer class="bg-gray-800 text-white p-4">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 My Website. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
